<!DOCTYPE html>
<html>

<head>
    <title>HIT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
</head>

<body>
  <title>HIT</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
</head>

<body>
 <title>HIT</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
</head>

<body>
<title>HIT</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type='text/javascript' src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js'></script>
</head>

<body>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.2.3/dist/snow.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <style>
    .v-input__slider {
      margin-top: 30px !important;
      margin-left: 90px !important;
      margin-right: 90px !important;
      margin-bottom: 10px !important;
    }

    .v-slider__tick-label {
      margin-top: 5px !important;
      transform: translateX(-50%) !important;
      margin-bottom: 10px !important;
    }

    .v-slider__tick .v-slider__tick-label {
      white-space: break-spaces;
      width: 200px;
      font-style: italic;
    }
  </style>

  <div class="container">
    <div class="row">
      <div class="col">

        <div id="app" v-cloak>
          <v-app>
            <v-alert border="left" colored-border color="deep-purple accent-4" elevation="2">
              Thanks for participating in our online shopping survey! We're working hard to change how you get your stuff, and we'd love to know how good we are at coming up with why you bought what you bought.
            </v-alert>
            <formulate-form v-model='formValues' v-on:submit='checkForm' method='post' id='mturk_form' action='{{endpoint}}' ref="form">
              <formulate-input type="hidden" name='timeSpent' v-model='timeSpent' id='timeSpent'>
              </formulate-input>

              <input type="hidden" name='nlp_session_id' v-model='nlp_session_id' />
              <input type="hidden" name='startTime' v-model='startTime' />
              <formulate-input type="hidden" name='endTime' v-model='endTime' id='endTime'></formulate-input>

              <formulate-input type="hidden" id="inputAssignmentId" name="assignmentId" v-model='assignmentId'> </formulate-input>

              <div class="card my-3">
                <div class="card-body d-flex">
                  <formulate-input name="purchase" v-model='purchase' label='Remember a product you’ve just ordered using online shopping. Enter the name of it and hit “Get reasons”' validation="required" error-behavior="live" placeholder="Your  recent online purchase" :disabled='loading' v-on:keypress.enter.prevent='getValues'> </formulate-input>
                  <button type="button" v-on:click='getValues' class='btn   m-3' :class='loading?"btn-secondary":"btn-primary"' :disabled='loading ||(!purchase)' v-if='!loaded'>
                    <div v-if='!loading'>Get reasons</div>
                    <v-progress-circular v-if='loading' indeterminate color="primary"></v-progress-circular>
                  </button>
                </div>
              </div>

              <div class="card my-3" v-if='reasons.length>0'>
                <div class="card-header">Now consider these possible reasons why you ordered that product. Rate them in terms of how relevant they are:</div>
                <div class="card-body">
                  <div v-for='i, ind in reasons' class='' :style='ind>0?"margin-top:50px":""'>
                    <input type="hidden" :name='`reason_${ind}`' :value='i.reason' />
                    <input type="hidden" :name='`reason_${ind}_slider`' :value='i.value' />
                    <div class='display-5 mt-2'><b>[[capFirst(i.reason)]]</b></div>

                    <v-slider :tick-labels="ticksLabels" :max="ticksLabels.length - 1" step="1" ticks="always" tick-size="10" :thumb-color="i.touched?'red':'black'" thumb-label="always" v-model='i.value' v-on:change='i.touched=true'></v-slider>

                  </div>
                  <div class="my-3">
                    <formulate-input name='why_order' type="textarea" v-model="why_order" label="Now can you type in in your own words, why did you order that item? " validation="required" validation-name="reason" error-behavior="live"></formulate-input>

                    <formulate-input name='why_particular' type="textarea" label="Why did you pick the particular item you purchased?" validation="required" validation-name="particular item" error-behavior="live"></formulate-input>
                    <div class='display-5 mt-2'><b>
                        Finally: if your online shopping app presented you with good reasons why you purchased a product, and provided ides for other related products, would you be likely to use that feature?

                      </b></div>
                    <input type="hidden" name='appReasons' :value='appReasons' />
                    <div class="my-3">
                      <v-slider v-model="appReasons" :tick-labels="appReasonChoices" :min='1' :max="5" step="1" ticks="always" tick-size="4"></v-slider>
                    </div>
                    <div class="my-5">
                      <formulate-input name='why_app' type="textarea" label="Why or why not?" validation="required" validation-name="reason for app" error-behavior="live"></formulate-input>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div v-if='!submittable'>(You need to click on each slider above in order to proceed)</div>
                  <button type="submit" class='btn   m-3' :class='loading?"btn-secondary":"btn-primary"' :disabled='!submittable' v-if='loaded'>
                    <div v-if='!loading'>Submit</div>
                    <v-progress-circular v-if='insubmission' indeterminate color="primary"></v-progress-circular>
                  </button>
                </div>
              </div>

        </div>
        </formulate-form>

        </v-app>
      </div>

    </div>
  </div>
  </div>

  <script>
    // const urlParams = new URLSearchParams(window.location.search);
    // document.getElementById('inputAssignmentId').value = urlParams.get('assignmentId')
  </script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src='https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.5/dist/formulate.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script id="rendered-js">
    Vue.use(VueFormulate);
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ["[[", "]]"],
      data: {
        nlp_session_id: null,
        why_order: null,
        loading: false,
        insubmission: false,
        formValues: {},
        assignmentId: null,
        timeSpent: null,
        reasons: [],
        appReasonChoices: [
          'No! I wouldn’t use that at all.',
          '',
          '',
          '',
          'Yes! That sounds really awesome; I’d love that!'
        ],
        appReasons: null,
        ticksLabels: [
          'Not even close! That’s not at all why I ordered that.',
          '',
          '',
          '',
          'Yes, perfect! That’s exactly why I ordered that!'
        ],
        startTime: new Date(),
        endTime: null,
        purchase: '',
      },
      created() {},
      mounted() {
        const urlParams = new URLSearchParams(window.location.search);
        this.assignmentId = urlParams.get('assignmentId')
      },
      computed: {
        loaded() {
          return this.reasons && this.reasons.length > 0
        },
        submittable() {
          if (!this.reasons) {
            return false
          }
          return _.every(this.reasons, _.matches({
            touched: true
          }))
        }
      },
      watch: {
        purchase() {
          this.reasons = [];
          this.loading = false;
        }
      },
      methods: {
        capFirst(l) {
          return _.upperFirst(l)
        },
        async getValues() {
          this.loading = true;
          console.debug('send axios req')
          var data = JSON.stringify({
            "text": this.purchase,
            "user_id": "629",
            "location_string": "37.54885282501893, -122.00418917890447",
            "decision_engine": true
          });
          var config = {
            method: 'post',
            url: 'https://api.braininc.net/be/bas-demo-v4/nlp/v4/domain_mapping',
            headers: {
              'Authorization': 'Token 8c573c8c578832b154c596790a32b5a65108bc81',
              'Content-Type': 'application/json'
            },
            data: data
          };
          try {
            const res = await axios(config);
            const reasons = res.data.results[0].decision_engine.reasons;
            this.nlp_session_id = res.data.nlp_session_id;
            if (reasons) {
              this.reasons = _.map(reasons.slice(0, 3), i => ({
                reason: i,
                value: 2,
                touched: false
              }))
            }
            console.debug(this.reasons)
          } catch (error) {
            console.debug('something goes wrong with axios req')
            console.debug(error)
            this.purchase = '';
          }
          this.loading = false;
        },
        setTime() {
          console.debug('submit clicked!')
        },
        async checkForm(e) {
          if (!this.submittable) {
            return false;
          }
          this.insubmission = true;
          this.endTime = new Date();
          this.timeSpent = this.endTime - this.startTime;
          console.debug(this.timeSpent, this.endTime)
          document.getElementById('timeSpent').value = this.timeSpent
          document.getElementById('endTime').value = this.endTime
          await document.getElementById('mturk_form').submit()
          this.insubmission = false;
          return true;
        },
      }
    });
  </script>
</body>

</html>